fastapi
uvicorn
python-multipart
python-multipart
aiofiles
pymupdf
pillow
google-generativeai
pinecone
langchain
python-docx
docx2txt
transformers
torch
langchain-community
sentence-transformers
pypdf
